::ng-deep .mat-dialog-container{
  background-color:#2a2a2a!important;
}

.input{
    color: white;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

button{
  color: white;
  background-color: transparent;
  font-size: 17px;
  border-radius: 10px;
  border: 0;
  padding: 1%;
}

button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

.space{
  margin-right: 30%;
}
.btnD:hover{
  background-color: red;
  color: black;
}

.h1{
  color: white;
  text-align: center;
}

.diagBtn{
  display: flex;
  position: relative;
}
