.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 100;
  overflow: hidden;
}

.card{
  margin: 70px auto;
  padding: 20px;
  background:  #363636;
  border-radius: 5px;
  width: 30%;
  position: flex;
  transition: all 5s ease-in-out;
  z-index: 101;
  align-items: center;
}

.title-container{
  width: 100%;
  height: 50px;
  margin-top: 1%;
  text-align: center;
}

.title-container h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.content{
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  width: 100%;
}

.content input{
  width: 100%;
  min-height: 30px;
  font-size: 18px;
  background-color: #2a2a2a;
  color: white;
}

.add-button{
  margin-left: 1rem;
  margin-top: 1rem;
}

.buttons button{
  color: white;
  background-color: #2a2a2a;
}
