<div class="button-container">
  <button mat-raised-button class="add-button" (click)="popup = true">
    Agregar lista
  </button>
</div>

<div class="overlay" *ngIf="popup">
  <mat-card class="card">
    <div
      class="title-container">
      <h1><b>Nueva lista</b></h1>
    </div>
    <mat-dialog-content>
      <div class="content">
        <input matInput type="text" placeholder="Nombre"/>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
      <button
        mat-raised-button
        type="button">
        Guardar
      </button>
      <button
        mat-raised-button
        style="margin-left: 5%"
        type="button"
        (click)="popup = false">
        Cancelar
      </button>
    </mat-dialog-actions>
  </mat-card>
</div>
