<mat-accordion multi="true" class="list-component" *ngFor="let list of lists">
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header> {{list.title}} </mat-expansion-panel-header>
    <div class="row" *ngFor="let actvity of list.activities">
      <div class="row-content">
        <p>{{actvity.name}}</p>
      </div>
      <div class="buttons-container">
        <button mat-raised-button>
          <mat-icon class="btnEdit">edit</mat-icon>
        </button>
        <button mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="openDialog(list.id, list.title)" class="button-add">Agregar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
