<mat-accordion multi="true" class="list-component">
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header> Title </mat-expansion-panel-header>
    <div class="row">
      <div class="row-content">
        <p>Content</p>
      </div>
      <div class="buttons-container">
        <button mat-raised-button>
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" class="button-add">Agregar</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
