:host{
  display: block;
  margin: 1rem;
}

.row-content, .buttons-container{
  display: inline-block;
}

.list-component{
  margin: 1rem;
}

.row-content p {
  margin-top: 10px;
}

.buttons-container{
  float: right;
}

/*Invertir*/
.buttons-container button{
  background-color: transparent;
  color: #ffffff;
}
.buttons-container .btnEdit{
  display: none;
  visibility: hidden;
}
.panel :hover .btnEdit{
    display: inline-block;
    visibility: visible;
}

.panel .buttons-container :hover{
  background-color: #ffffff;
  color: #2a2a2a;
}


/*Invertir*/
.panel{
  background-color: #2a2a2a;
  color: white;
}

.list-component :hover{
  background-color: #363636;
}

.list-component mat-action-row :hover{
  background-color: #ffffff;
  color: #2a2a2a;
}
