mat-card{
  margin: 2rem 1rem 1rem 1rem;
  background-color: transparent;
  display: block;
  justify-content: center;
}

.content-mat-card {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.mat-spinner{
  display: inline-block;
}

.content-spinner .spinner{
  text-align: center;
}

.content-spinner .content-text-spinner{
  color: white;
  text-align: center;
}

.monito {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  tab-size: 4;
  font-feature-settings: "ss02", "ss04", "ss05";
  font-family: Space Grotesk, Helvetica, Arial, sans-serif;
  font-size: 16px;
  --font: "Space Grotesk", Helvetica, Arial, sans-serif;
  --font-serif: "Vollkorn", Garamond, Georgia, serif;
  --font-mono: "Space Mono", Menlo, monospace;
  --processing-blue-light: #82afff;
  --processing-blue-mid: #0564ff;
  --processing-blue-deep: #1e32aa;
  --processing-blue-dark: #0f195a;
  --topbar-background: #02163e;
  --processing-blue-gradient: #508bff2e;
  --p5-light: #fd9db9;
  --p5-mid: #ff4077;
  --p5-dark: #af1f42;
  --foundation-light: #d4b2fe;
  --foundation-mid: #9c4bff;
  --foundation-dark: #5501a4;
  --lightgray: #f5f5f5;
  --gray: #dbdbdb;
  --darkgray: #898989;
  --darkergray: #727070;
  --black: #0d0d0d;
  --text-reduced: 1.8rem;
  --container-width: 1920px;
  --margin-half: calc(var(--margin)/2);
  --margin-quarter: calc(var(--margin)/4);
  --margin-double: calc(var(--margin)*2);
  --gutter-half: calc(var(--gutter)/2);
  --gutter-double: calc(var(--gutter)*2);
  --col1: 12.5%;
  --col2: 25%;
  --col3: 37.5%;
  --col4: 50%;
  --col5: 62.5%;
  --col6: 75%;
  --col7: 87.5%;
  --col8: 100%;
  --push1: calc(var(--col1) + var(--gutter));
  --push2: calc(var(--col2) + var(--gutter));
  --push3: calc(var(--col3) + var(--gutter));
  --push4: calc(var(--col4) + var(--gutter));
  --push5: calc(var(--col5) + var(--gutter));
  --push6: calc(var(--col6) + var(--gutter));
  --push7: calc(var(--col7) + var(--gutter));
  --push8: calc(var(--col8) + var(--gutter));
  --margin: 24px;
  --gutter: 16px;
  --vertical-margin-xxsmall: 3px;
  --vertical-margin-xsmall: 5px;
  --vertical-margin-small: 10px;
  --vertical-margin-medium: 15px;
  --vertical-margin-large: 20px;
  --text-xsmall: 0.7rem;
  --text-small: 0.8rem;
  --text-regular: 0.875rem;
  --text-medium: 1rem;
  --text-large: 1.2rem;
  --text-xlarge: 1.5rem;
  --text-xxlarge: 2rem;
  --text-xxxlarge: 2.25rem;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 150px;
  max-width: 100%;
}
