<mat-card >
  <div class="content-mat-card">
    <div class="Character-module--root--gkTr2 donate-module--character--MPBgM">
      <svg viewBox="0 0 150 150">
        <line x1="15" y1="15" x2="90" y2="105" stroke="rgb(80, 139, 255)" stroke-width="30"></line>
        <path d="M 105 45 C 120 15 60 0 75 60" stroke="rgb(2, 81, 200)" fill="none" stroke-width="30"></path>
        <path d="M 120 15 C 120 150 0 0 60 105" stroke="rgb(30, 42, 103)" fill="none" stroke-width="30"></path>
        <path d="M 20 30 q 0 -10 10 -10" stroke="black" stroke-width="3" fill="none"></path>
        <path d="M 35 20 q 0 -10 10 -10" stroke="black" stroke-width="3" fill="none"></path>
        <path d="M 63.4 20.16 q 5 -10 15 0" stroke="black" stroke-width="3" fill="none"></path>
        <path d="M 83.4 20.16 q 5 -10 15 0" stroke="black" stroke-width="3" fill="none"></path>
        <path d="M 35.2 66.84 q 5 -10 15 0" stroke="black" stroke-width="3" fill="none"></path>
        <path d="M 55.2 66.84 q 5 -10 15 0" stroke="black" stroke-width="3" fill="none"></path>
      </svg>
    </div>
    <div class="content-spinner">
      <div class="spinner">
        <mat-spinner class="mat-spinner"></mat-spinner>
      </div>
      <div class="content-text-spinner">
        <p class="text-monito">
          Cargando monito que baila... por favor espere
        </p>
      </div>
    </div>
  </div>
</mat-card>
