<div class="container" *ngIf="shouldRun">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="namePage">My Notes</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="56">
    <mat-sidenav mode="side" #snav opened>
      <div class="img-container">
        <img src="./assets/images/default-user-image.png" />
      </div>
      <div class="text-container">
        <h1>Bienvenido</h1>
      </div>
      <div class="icons">
        <mat-icon
          aria-hidden="false"
          aria-label="Home icon"
          fontIcon="home"
          class="icon"
        >
        </mat-icon>
      </div>
      <hr />
      <mat-nav-list class="nav-list">
        <div class="list-item">
          <mat-list-item> Usuario </mat-list-item>
        </div>
        <hr />
        <div class="list-item">
          <mat-list-item> Mis listas </mat-list-item>
        </div>
        <div class="list-item">
          <mat-list-item> Configuracion </mat-list-item>
        </div>
        <div class="list-item">
          <mat-list-item>
            Modo Oscuro
            <mat-slide-toggle
              class="dark-mode"
              color="primary"
            ></mat-slide-toggle>
          </mat-list-item>
        </div>
        <div class="button-container">
          <button mat-raised-button routerLink="." class="btnCerrarSesion">
            Cerrar Sesión
          </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="button-top-container">
        <button mat-raised-button class="add-button" (click)="popup = true">
          Agregar lista
        </button>
      </div>
      <div class="content-container">
        <div class="list-component-container">
          <list-component></list-component>
        </div>
        <div class="card-decoration-container">
          <card-decoration></card-decoration>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
