h1{
  color: white;
}

::ng-deep .mat-dialog-container{
  background-color:#2a2a2a!important;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

.input{
  color: white;
}

button{
  color: white;
  background-color: transparent;
  font-size: 15px;
  border-radius: 7px;
  border: 0;
}
button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
